@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --color1:#ffffff;
    --color2:#f2f2f287;
    --color3:#dbe2ef;
    --color4:#f9f7f7;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    color:var(--color4);
    background-image: linear-gradient(160deg, #b5b5b5 0%, #175781 100%);
}

h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}
.tab-container{
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    margin-top:4rem ;
    display: flex;
    justify-content: space-between;
}
.tab{
    cursor: pointer;
    font-size: .875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}
.tab.current-tab{
    border-radius: 4px;
    background-color: rgb(219,226,239,0.5);
}
.weather-container{
    margin-block: 4rem;
}
.btn{
    all:unset;
    text-transform: uppercase;
    font-size: .85rem;
    border-radius: 5px;
    background-color: var(--color2);
    cursor: pointer;
    padding: 10px 30px;
    margin-bottom: 10px;
}

.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 10px; */
}
.grant-location-container{
    display: none;
}
.grant-location-container.active{
    display: flex;
}
.grant-location-container img{
    margin-bottom: 2rem;
}
.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;
}
.grant-location-container p:last-of-type{
    font-size: 0.90rem;
    font-weight: 500;
    margin-top: .75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}
.loading-container{
    display: none;
}
.loading-container.active{
    display: flex;
}
.loading-container p{
    text-transform: uppercase;
}
.user-info-container{
    display: none;
}
.user-info-container.active{
    display: flex;
}
.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}
.user-info-container p{
    font-size: 1.5rem;
    font-weight: 200;
}
.user-info-container img{
    width: 90px;
}
.name p{
    font-size: 1.8rem;
}
.name img{
    width: 40px;
}

.user-info-container p[data-temp]{
    font-size: 2.5rem;
    font-weight: 700;
}
.parameter-container{
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.parameter{
    width: 30%;
    max-width: 200px;
    background-color: rgb(233, 233, 233, 0.5);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    align-items: center;
}
.parameter p:first-of-type{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
}
.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 400;
}
.form-container{
    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 3rem;
}
.form-container.active{
    display: flex;
}
.form-container input{
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #f2f2f287;
}
.form-container input::placeholder{
    color: white;
}
.form-container input:focus{
    border: 2px solid white;
}
.form-container .btn{
    padding: unset;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 1px;
}
.api-error-container{
    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.api-error-container.active{
    display: flex;
}
.api-error-container p:first-of-type{
    text-transform: uppercase;
    font-family: raleway;
    font-size: 2.2rem;
    font-weight: 400;
}
@media screen and (max-width: 600px){
.parameter-container{
    flex-wrap: wrap;
    }
}