*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}
html,body{
    height: 100%;
    width: 100%;
}

#minicircle{
    transition:all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
}

#main{
    background-color: black;
    width: 100%;
}
#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
}
#nav{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
#nav a{
    color: white;
    text-decoration: none;
    padding: 0 .2vw;
    font-size: 16.2px;
    margin-top: .6vw;
    font-weight: 500;
}

#heading{
    margin-top: 90px;
}
.bounding{
    width: fit-content;
    overflow: hidden;
}
.bounding .boundingelem{
    transform: translateY(100%);
}
#heading h1{
    pointer-events: none;
    font-size: 10vw;
    font-weight: bold;
    line-height: .9;
    opacity: .7;
    margin-left: 50px;
}
#heading #ho{
    margin-left: 220px;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}
.block h5{
    text-align: right !important;
    font-size: 15px;
}
#smallheading{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 50px;
}
#smallheading h5{
    text-align: right;
    font-size: 1vw;
    margin-top: .5vw;
}
#herofooter{
    position: absolute;
    padding: 0 2vw;
    width: 100%;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#herofooter a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: .9vw;
}
#herofooter #iconset{
    display: flex;
    gap: 5px;
}
#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #888;
    border-radius: 50%;
}
#second{
    padding-right: 10vw;
    color: white;
    padding-top: 150px;
    width: 100%;
    height: 130vh;
    background-color: black;
}
.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5vw 3vw;
    padding-right: 0;
    width: 100%;
    border-top: 1px solid #888;
}
.elem h1{
    font-size: 7vw;
    opacity: .7;
}
.last{
    border-bottom: 1px solid #888;
}
.elem img{
    height: 130%;
    opacity: 0;
    z-index:999;
    position: absolute;
}
#about{
    display: flex;
    align-items: center;
    padding: 10vw 10vw;
    padding-left: 40vw;
    gap: 50px;
    width: 100%;
    color: white;
    background-color: black;
}
.textabout{
    width: 25rem;
}
.textabout h5{
    opacity: .7;
    font-weight: lighter;
    margin-bottom: 10px;
}
.textabout p{
    line-height: 1.6;
    margin-bottom: 30px;
}
.textabout a{
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}
#about img{
    width: 200px;
}
#subscribe{
    background-color: black;
    color: white;
    padding: 20px 30px;
    padding-bottom: 10vw;
}
#subscribe h5{
    text-transform: uppercase;
    font-weight: lighter;
    opacity: .6;
}
#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}
#footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}
#footerleft{
    display: flex;
    font-size: 20px;
    font-weight: 100;
    gap: 20px;
}
#footerright{
    display: flex;
    gap: 40px;
}

#footer a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12.5px;
    padding: 5px 10px;
    font-weight: bold;
}